@import 'src/styles/mixins.scss';

.container {
  display: grid;
  border: 1px solid red;
  grid-template-columns: repeat(4, 1fr);
  border-radius: 1rem;
  overflow: hidden;
  .image {
    position: relative;
    grid-column: span 1;
    height: 100%;
    .imageWrapper {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }
  .info {
    grid-column: span 3;
    padding: 3rem;
    h3 {
      @include sm-title;
    }
    p {
      @include text;
    }
    > *:first-child {
      margin-bottom: 2rem;
    }
  }
}
