.container {
  position: sticky;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  height: 3rem;
  .closeButton {
    position: absolute;
    right: var(--site-padding-mob);
    line-height: 1;
    cursor: pointer;
  }
  &.hidden {
    display: none;
  }
}
