@import 'src/styles/mixins.scss';

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 0 var(--site-padding);
  @include mobile {
    padding: 0 var(--site-padding-mob);
  }
}
