@import 'src/styles/mixins';

.feature {
  display: flex;
  flex-direction: column;
  align-items: center; // Center content horizontally
  text-align: center; // Center text

  div {
    margin-bottom: 20px; // Add some space below the image and heading

    img {
      max-width: 100%;
      height: 300;
      border-radius: 5px;
    }

    h1 {
      // @include lg_title;
      margin-top: 10px;
    }
  }
}
