.container {
  color: white;
}

.navbar {
  background-color: var(--color-black);
  padding: var(--dialog-padding) var(--site-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    font-size: 2rem;
  }

  ol,
  ul {
    display: flex;
    gap: var(--grid-column-gap);
  }

  a {
    font-size: 16px;
    cursor: pointer;
  }
}
