@import 'src/styles/mixins.scss';
.articleSlider {
  display: flex;
  flex-direction: column;

  .sectionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 2;
    margin-bottom: 2.4rem;
    span {
      font-size: 1.6rem;
      padding-left: 0.8rem;
      line-height: 1.1;
    }
    a {
      font-size: 1.6rem;
      border-bottom: 1px solid black;
      line-height: 1;
    }
  }
  .sliderItems {
    display: flex;
    gap: 4rem;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    width: calc(100% + var(--site-padding) * 2);
    transform: translateX(calc(var(--site-padding) * -1));
    padding: 0 var(--site-padding);
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
