.container {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: var(--header-z-index);
}

.navbar {
  background-color: var(--color-white);
  border: 1px solid red;
  padding: var(--dialog-padding) var(--site-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    font-size: 2rem;
  }

  ol,
  ul {
    display: flex;
    gap: var(--grid-column-gap);
  }

  a {
    font-size: 16px;
    cursor: pointer;
  }
}
