@import 'src/styles/mixins';

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 1rem;
  overflow: hidden;

  .textWrapper {
    position: absolute;
    z-index: 1;
    background-color: white;
    h2 {
      @include md_title;
      color: var(--color-black);
    }
  }

  .imageWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    @include mobile {
      padding-bottom: 76%;
    }
  }
}
